.img-container {
    width:20%;
    position: relative;
    display: inline-block;
    padding:5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.img-container span {
    position: absolute;
    right: 0;
    top: -9px;
    font-weight: 800;
}